torch
gradio
einops
diffusers
transformers
scipy
numpy
regex
tqdm
accelerate
soundfile
unidecode
phonemizer
torchlibrosa
ftfy
pandas
timm
matplotlib
thop
# flash-attn==2.6.3
sentencepiece
Pillow
progressbar
